trace
sorted_trace
*.swp
*.mod.*
*.o
*.cmd
*.so.*
*.log
kernel_module/.tmp_versions/
kernel_module/Module.symvers
kernel_module/modules.order
benchmark/benchmark
benchmark/validate
kernel_module/tnpheap.ko
